@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --highlight: #ca8a04;

    --radius: 0.5rem;
  }

  .dark {
    --background: #052e16;
    --foreground: #dcfce7;

    --bgsecondary: #1c1917;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --player: #bbf7d0;
    --player-foreground: #022c22;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: #dcfce7;
    --primary-foreground: #1e3a8a;

    --secondary: #57534e;
    --secondary-foreground: 210 40% 98%;

    --muted: #fcd34d;
    --muted-foreground: #a8a29e;

    --accent: #16a34a;
    --accent-foreground: 210 40% 98%;

    --destructive: #f87171;
    --destructive-foreground: 210 40% 98%;

    --success: #166534;
    --success-foreground: #dcfce7;

    --border: #57534e;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grainy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}
